{%load staticfiles %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">

  <title>DM SCreen</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{% static 'css/login.css'%}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
  {% block content %}
  {%endblock%}

  {%block footer%}
  {%endblock%}
</body>
</html>
