{%extends 'web/base.html' %}
{%block content%}
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input id="username" type="text" placeholder="username"/>
      <input id="password" type="password" placeholder="password"/>
      <button>login</button>

      <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
      <!-- <p class="error">Login failed :(</p> -->
    </form>
  </div>
</div>
<script src="/static/js/login.js"></script>
{%endblock%}
{%block footer%}
{%endblock%}